<h1>Hello Rails!</h1>
<%= link_to "My Blog", controller: "articles" %>


<h2>Listing Articles</h2>

<%= link_to "New Article", new_article_path %><br>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
    </tr>

    <%= @articles.each() do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to "show", article_path(article) %></td>
        </tr>
    <%end%>
</table>