<div class="jumbotron">
    <div class="container border p-3">
        <p class="border p-3">
            <strong>Title:</strong>
            </br>
            <%= @article.title %>
        </p>

        <p class="border p-3">
            <strong>Text:</strong>
            </br>
            <%= @article.text %>
        </p>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
    </div>

    </br>
    <hr></hr>
    </br>

    <div class = "container">
        <!--To show all the comments related to the article-->
        <h4>Comments</h4>
        <%= render @article.comments %>
    </div>

    </br>

    <div class = "container">
        <!--To creat a comment related to the article-->
        <h4>Add a Comment</h4>

        <%= form_with(model: [ @article, @article.comments.build], local: true) do |form| %>
            <p>
                <%= form.label :commenter %>
                </br>
                <%= form.text_field :commenter%>
            </p>

            <p>
                <%= form.label :body %>
                </br>
                <%= form.text_field :body%>
            </p>
                
            <p>
                <%= form.submit %>
            </p>
        <% end %>
    </div>

    <div class="container">
        <%= link_to "Back", articles_path, class: "btn btn-primary" %>
    </div>
</div>